.footerContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 17px 0 !important;
}

.footerLink div {
  margin-bottom: 0;
}

.footerLink div:hover {
  opacity: 0.8;
  text-decoration: underline;
}
